@use "../../scss/variables" as v;

.flight-booking-page {
  padding: 20px 30px 50px 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;

  .table-container {
    max-height: 350px;
  }

  .under-table-line {
    margin-bottom: -15px;
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  .form {
    max-width: none;
    width: 100%;

    &__container {
      grid-template-columns: 1fr 2fr;
      gap: 10px !important;
      label {
        justify-self: end;
      }
    }

    &__fieldset {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 15px;

      button {
        justify-self: end;
        min-width: 200px;
      }
    }

    .flights-list {
      display: flex;
      flex-direction: column;
      gap: 5px;
      padding: 5px;
      max-height: 100px;
      overflow-y: auto;

      .flights-list__item {
        display: flex;
        padding: 5px 10px;
        justify-content: space-between;
        border: 2px solid v.$dark-blue-cl;
        border-radius: 5px;
      }
    }

    .tickets-confirm-form {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  .passengers-form {
    max-width: 60%;
    .form__container {
      display: flex;
    }

    fieldset {
      display: flex;
      justify-content: space-between;
    }
  }
}
