// font-sizes
$common-text-fz: 1rem;
$common-text-big-fz: 1.25rem;
$title-fz: 1.8rem;
$title-big-fz: 5rem;

// colors
$primary-cl: white;
$second-cl: #003594;
$green-cl: #36995c;
$dark-green-cl: #24705b;
$red-cl: #ee2643;
$dark-red-cl: #7b0f1e;
$blue-cl: #4965eb;
$dark-blue-cl: #003594;
